{% extends "::base.html.twig" %}

{% block title %}News{% endblock %}

{% block body %}
	<div id="section-home" class="section">
		<div class="container">
			<div id="home-info" class="row">
				<p id="home-sub-quote" class="col-md-12 text-center main-quote">
					News and updates from
					<span>LC Gothenburg</span>
				</p>
				<div class="row">
					<div id="post-wrapper" class="col-md-8">
						<div class="post-block">
							<p class="title">
								<a>Recruitment for the 2014/2015 term</a>
							</p>
							<p class="desc">
								Are you looking for something exciting to do this semester? Ever thought about being
								involved in a NGO, learning about how the more operational side of how a business is
								run? Maybe you are even thinking about going on an internship this summer? <br><br> If
								yes, we are looking for you! <br><br> AIESEC Gothenburg is recruiting new members right
								now! We are also looking for new BOARD MEMBERS to fill the shoes of our wonderful board
								that will end its term in June. Does this sound interesting?! Apply now! </p>
							<div class="span7">
								<p>
									<i class="icon-calendar"></i> March 10, 2014 </p>
							</div>
						</div>
						<div class="post-block">
							<p class="title">
								<a>What happened to the news?</a>
							</p>
							<p class="desc">
								We know that the news section is a bit empty right now. This is because we are in the
								process of implementing a new platform to bring you all up to date about what is going
								on here! <br><br> The new News function will be available when it is done in the coming
								2 months. In the meantime, you are welcome to follow us on Facebook for the latest
								updates and opportunities here at LC Gothenburg! <br><br>
								<a href="https://www.facebook.com/aiesec.gothenburg">
									https://www.facebook.com/aiesec.gothenburg
								</a>
							</p>
							<div class="span7">
								<p>
									<i class="icon-calendar"></i> March 10, 2014 </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end.container -->
	</div>
	<!-- end.section -->

{% endblock %}
