{% extends "::base.html.twig" %}

{% block title %}News{% endblock %}

{% block body %}
	<div id="section-home" class="section">
		<div class="container">
			<div id="home-info" class="row">
				<p id="home-sub-quote" class="col-md-12 text-center main-quote">
					News and updates from
					<span>LC Gothenburg</span>
				</p>
				<div class="row">

					<!--
					<div id="post-wrapper" class="col-md-8">
						<div class="post-block">
							<p class="title">
								<a href="<?php echo base_url(); ?>news/view-post">Info Session</a>
							</p>
							<p class="desc">
								Are you interested in learning more about AIESEC? Maybe you have seen us running around
								the different campuses with our AIESEC hoodies; maybe you were in that class were we
								stole 5 minutes of your time to tell you about AIESEC; maybe you got one of our emails
								the last couple of days; maybe you saw our flashmob and got inspired? <br/><br/> You
								have come to the right place! We will have an info session on Thursday, 26th of
								September at Handelshögskolan, Room B22 at 4PM. There we will present more information
								about AIESEC - what it stands for, what we are doing and what we provide for both
								members and the people going with us on internships! <br/><br/> Sounds good? Sign up
								<a href="https://docs.google.com/a/aiesec.net/forms/d/1nLmUN5_fpt3TQcXAF0Q_ApAi3yetXtXBrskMxoiwKN8/viewform">
									here.
								</a>
								<br/><br/> Refreshments will be provided! <br/><br/> See you there!
							</p>
							<div class="span7">
								<p>
									<a class="btn btn-small" href="<?php echo base_url(); ?>news/view-post">Read More
									</a>
									<i class="icon-calendar"></i> Sept 16th, 2012
								</p>
							</div>
						</div>
						<div class="post-block">
							<p class="title">
								<a href="#">AIESEC - is for you!</a>
							</p>
							<iframe width="560" height="315" src="//www.youtube.com/embed/PgAwg-swnkQ" frameborder="0"
							        allowfullscreen></iframe>
							<div class="span7">
								<p>
									<a class="btn btn-small" href="#">Read More</a>
									<i class="icon-calendar"></i> Sept 16th, 2012
								</p>
							</div>
						</div>
						<div class="post-block">
							<p class="title">
								<a href="#">We are RECRUITING!!!</a>
							</p>
							<p class="desc">
								Do YOU feel like you are going around WAITING for something BIG to happen? <br/><br/>
								Wait no more - ACT! JOIN AIESEC GOTHENBURG NOW! <br/><br/> We are right now recruiting
								new members and are looking especially for YOU! <br/><br/> Don´t know what AIESEC is -
								come for After Work this friday and meet the local committee, hang out, chillax with us
								and ask your questions! <br/><br/> We are looking forward to meeting just YOU!
								<br/><br/> Like our Facebook Page and keep updated for more information. <br/><br/> See
								you there! </p>
							<div class="span7">
								<p>
									<a class="btn btn-small" href="#">Read More</a>
									<i class="icon-calendar"></i> Sept 16th, 2012
								</p>
							</div>
						</div>
						<div class="post-block">
							<p class="title">
								<a href="#">Volunteer abroad this summer!</a>
							</p>
							<p class="desc">
								Are you ready to help change the world this year? <br/><br/> We currently have over
								6,000 voluntary internship positions available all over the world. Contact us and find
								something uniquely suited to what drives you - education, relief work, culturalexchange,
								human rights, and more! <br/><br/> For over 60 years, our internship program has helped
								to create strong, international citizens and leaders with a deep understanding of the
								world around them. Join them, and take the step of a lifetime with us! <br/><br/>
								<a href="http://volunteerabroad.aiesec.se/">http://volunteerabroad.aiesec.se/</a>
							</p>
							<div class="span7">
								<p>
									<a class="btn btn-small" href="#">Read More</a>
									<i class="icon-calendar"></i> Sept 16th, 2012
								</p>
							</div>
						</div>
						<div class="post-block">
							<p class="title">
								<a href="#">Great Internship Opportunities in Egypt!</a>
							</p>
							<img class="img-polaroid" src="<?php echo zone_url(); ?>img/news/uploads/8766744_orig.jpg"
							     alt=""/>
							<p class="desc">
								AIESEC Egypt in cooperation with PricewaterhouseCoopers just announced the need for 20
								GCDP interns to run a very important project in Egypt. Don't miss out on the experience
								of a lifetime! <br/><br/> To apply,
								<a href="<?php echo base_url(); ?>contact-us.html">contact us</a>
								. <br/><br/> For information about what "GCDP internship" means, as well as our
								internship program as a whole, please see our
								<a href="<?php echo base_url(); ?>internships/about-internships">internship overview</a>
								.
							</p>
							<div class="span7">
								<p>
									<a class="btn btn-small" href="#">Read More</a>
									<i class="icon-calendar"></i> Sept 16th, 2012
								</p>
							</div>
						</div>
						<div class="post-block">
							<p class="title">
								<a href="#">Serbian CEED Nikola Moving On</a>
							</p>
							<img class="img-polaroid" src="<?php echo zone_url(); ?>img/news/uploads/2321097_orig.jpg"
							     alt=""/>
							<p class="desc">For the last week, we have had the pleasure of Nikola Popovic from AIESEC
							                Serbia staying with us </p>
							<div class="span7">
								<p>
									<a class="btn btn-small" href="#">Read More</a>
									<i class="icon-calendar"></i> Sept 16th, 2012
								</p>
							</div>
						</div>
						<div class="post-block">
							<p class="title">
								<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
							</p>
							<p class="desc">
								AIESEC Gothenburg will be hosting one of information meetings this week. You are welcome
								to show up to learn more about us, what we do, what we offer, and of course who we are
								as individual members. Don't miss out, it will be a great experience! <br/><br/>
								<strong>Time:</strong> Wednesday, March 6th, 16:00. <br/> <strong>Venue:</strong>
								Handelshögskolan, room B33. </p>
							<div class="span7">
								<p>
									<a class="btn btn-small" href="#">Read More</a>
									<i class="icon-calendar"></i> Sept 16th, 2012
								</p>
							</div>
						</div>
						<div class="post-block">
							<p class="title">
								<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
							</p>
							<img class="img-polaroid" src="<?php echo zone_url(); ?>img/news/uploads/2792219_orig.jpg"
							     alt=""/>
							<p class="desc">
								Last week, the annual career fair for students of social sciences -
								<a href="https://www.facebook.com/events/111619052339759/">Spira</a>
								- kicked off, and AIESEC Gothenburg was of course there to represent. <br/><br/> The
								event went great, and our representative on the set worked very hard to reach out to
								students and other interested people. We got a lot of great interactions at our booth
								going, with more than 40 people asking us to contact them for further information (yes,
								we have already put together a special meeting for you guys!). <br/><br/> We were also
								fortunate to have our booth right next to the
								<a href="http://en.opera.se/">Opera of Gothenburg</a>
								, who were simply the greatest of neighbors. If you guys are reading this - we still
								have your pencils! <br/><br/> A big thanks to everyone who showed up at the fair!
							</p>
							<div class="span7">
								<p>
									<a class="btn btn-small" href="#">Read More</a>
									<i class="icon-calendar"></i> Sept 16th, 2012
								</p>
							</div>
						</div>
						<div class="post-block">
							<p class="title">
								<a href="#">Brand new web page!</a>
							</p>
							<img class="img-polaroid" src="http://fakeimg.pl/620x300/" alt=""/>
							<p class="desc">
								Finally, our new web page has launched! Big ups to our COMM team for their hard work!
								<br/><br/> For now, there are still some rough edges to smooth out and blanks to fill
								in, but our loyal Communication hamsters are spinning at full force to get this done! We
								will also make sure this news blog gets filled with all kinds of interesting things as
								time goes. <br/><br/> If you feel anything is missing that you would want to see, do not
								hesitate to
								<a href="<?php echo base_url(); ?>contact-us">contact us</a>
								! <br/><br/> Greetings from AIESEC Gothenburg!
							</p>
							<div class="span7">
								<p>
									<a class="btn btn-small" href="#">Read More</a>
									<i class="icon-calendar"></i> Sept 16th, 2012
									                              <!--| <i class="icon-comment"></i> 3 Comments -->
								</p>
							</div>
						</div>
						<div class="pagination pagination-centered">
							<ul>
								<li class="disabled">
									<a href="#">«</a>
								</li>
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#">»</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
					</div>
		-->
				</div>
			</div>
		</div>
		<!-- end.container -->
	</div>
	<!-- end.section -->

{% endblock %}
