{% extends "::base.html.twig" %}

{% block title %}AIESECMainBundle:Partnership:companies{% endblock %}

{% block body %}
	<div class="row block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				What can AIESEC give to your business?
				<span></span>
			</p>
			<div class="main-text">
				<p>AIESEC has connected corporations and talented, innovative students through its international
				   internship program for more than half a century. Each year new organizations hire an AIESEC intern
				   customized after their specific needs and experience the intern’s direct impact on their operation.
				   AIESEC interns come prepared with the ambition and skills sets necessary to make an immediate
				   contribution to the strategic business goals of their employer. Hiring a student or recent graduate
				   through AIESEC international internship program will gain your company new, beyond the ordinary
				   knowledge, global skills, networks to different cultures and new perspectives.</p>
				<p>AIESEC international internship program enables companies in a quick and effective way to hire
				   international students with top knowledge in different fields to support them in all types of
				   projects, market expansions etc. AIESEC has a global pool filled with the brightest, innovative and
				   creative young professionals in the world. This gives us the possibility to offer interns who
				   strengthen the human capital in the organizations were they work, and who are customized and matched
				   after every organizations diverse needs and preferences. We have talents in a broad range of fields
				   such as management, finance, IT, marketing, Human resources, engineering, development, education and
				   many more. AIESEC can offer it’s partners the specialized knowledge that can’t be found local or
				   national and to a low price.</p>
				<p>Schedule a meeting so we can tell you more about how AIESEC can contribute to the success and goal
				   fulfillment of your organization.</p>
				<p>Contact us to get a customized offer for your company or organisation:
					<a href="mailto:gothenburg@aiesec.se">gothenburg@aiesec.se</a>
				</p>
			</div>
		</div>
	</div>

{% endblock %}
