{% extends "::base.html.twig" %}

{% block title %}AIESECMainBundle:Partnership:getintern{% endblock %}

{% block body %}
	<div class="row block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				Getting an intern via AIESEC
				<span></span>
			</p>
			<div class="main-text">
				<p>Recruiting an AIESEC intern to you organization starts with a meeting with an AIESEC member were your
				   needs and requirements of the intern are discussed. Based on those requirements an organization
				   profile is then uploaded for members from all over the world to apply for. We then manage the search
				   and the matching process and handle all the arrangements for the interns both before and after they
				   have arrived. After only a couple of weeks we can present a list with the best candidates for the
				   internships and arrange interviews with those you think are the best, of course we keep on the search
				   until we have found the best intern for your organization. Through committed and competent members
				   AIESEC always helps their partners find the right solution.</p>
				<p>We in AIESEC use our proven and successful IXPQS model when we match and hire an intern to our
				   partners. IXPQS stands for International Exchange Policies and Quality Standards. It enables us to
				   set clear expectations of each party involved in the exchange program and serves as clear guidelines
				   how to handle everything around the exchange. IXPQS is the tool that we use to secure the
				   satisfaction of both the organizations and the intern coming to our country.</p>
			</div>
		</div>
	</div>

{% endblock %}
