{% extends "::base.html.twig" %}

{% block title %}AIESECMainBundle:Membership:faq{% endblock %}

{% block body %}
	<div class="section">
		<div class="container">
			<h3>Frequently asked questions about AIESEC Gothenburg membership</h3>
			<section>
				<article>
					<p><strong>1. How do I become a member of AIESEC Gothenburg?</strong></p>
				</article>
				<article>
					<p>There are several ways you can do this : </p>
					<ul>
						<li>Fill in our
							<a href="{{ path('membership_apply') }}">Membership Application Form.</a>
						</li>
						<li>Attend an information meeting. At this stage you will get more in depth knowledge about
						    AIESEC and especially AIESEC Gothenburg.
						</li>
						<li>Send an e-mail to
							<a href="mailto:gothenburg@aiesec.se">gothenburg@aiesec.se</a>
						</li>
					</ul>
				</article>
			</section>
			<section>
				<article>
					<p><strong>2. I am an international/exchange/free-mover student, can I still apply?</strong></p>
				</article>
				<article>
					<p>Yes, students from all educational institutions and campuses in the Gothenburg region are welcome
					   to apply. </p>
				</article>
			</section>
			<section>
				<article>
					<p><strong>3. I am not a student, can I still apply?</strong></p>
				</article>
				<article>
					<p>Yes.</p>
				</article>
			</section>
			<section>
				<article>
					<p><strong>4. Is there a membership fee?</strong></p>
				</article>
				<article>
					<p>No, membership in AIESEC Gothenburg is free. </p>
				</article>
			</section>
			<section>
				<article>
					<p><strong>5. Is the information meeting compulsory?</strong></p>
				</article>
				<article>
					<p>We recommend you to attend one of our information meetings so you can get to know the
					   organization more deeply and get the chance to talk to us. </p>
				</article>
			</section>
			<section>
				<article>
					<p><strong>6. What can I do in AIESEC?</strong></p>
				</article>
				<article>
					<p>AIESEC offer you to gain practical experience in different fields as sales, marketing,
					   recruitment, HR, external relations and project management. You will have the chance to develop
					   yourself both professionally and personally. </p>
				</article>
			</section>
			<section>
				<article>
					<p><strong>7. What kind of positions are there in AIESEC Gothenburg?</strong></p>
				</article>
				<article>
					<p>There are two types of positions: </p>
					<ul>
						<li>Team Member Positions - be member of a team which works in the field of sales and external
						    relations, marketing, recruitment or HR. Get experience of working in a team, practical hard
						    skills in your area and be part of the global network that AIESEC is.
						</li>
						<li>Team Leader Positions - lead your own team and be responsible for your own work area. Get
						    experience of leading a team, strategic planning and having responsibility for your own and
						    others development.
						</li>
					</ul>
				</article>
			</section>
		</div>
		<!-- end.container -->
	</div> <!-- end.section -->
{% endblock %}
