{% extends "::base.html.twig" %}

{% block title %}AIESECMainBundle:Membership:opportunities{% endblock %}

{% block body %}

	<div id="section-home" class="section">
		<div class="container">
			<div id="home-info" class="row">
				<p id="home-sub-quote" class="col-md-12 text-center main-quote">
					Open opportunities
					<span></span>
				</p>
				<div class="main-text">
					<p>From time to time, AIESEC Gothenburg does targeted recruitment in order to fill specific
					   vacancies in our LC. Such opportunities will be announced here when available, together with a
					   job description and application instructions.</p>
					<h3>Front End Developer</h3>
					<p> AIESEC Gothenburg is looking for a Front end developer. The purpose of the role is to develop,
					    extend and maintain the AIESEC Gothenburg website and related technologies.</p>
					<p><strong>Major responsibilities : </strong></p>
					<ul>
						<li>Create a sustainable web platform for AIESEC Gothenburg.</li>
						<li>Maintain and extend the system according to LC needs.</li>
					</ul>
					<p><strong>A suitable candidate has the following skills : </strong></p>
					<ul>
						<li>HTML5/CSS3, optionally knowledge of a mature framework (e.g. Bootstrap)</li>
						<li>PHP, in addition knowledge of some popular framework (e.g CodeIgniter)</li>
						<li>General skills in web development, with a focus on interaction design</li>
					</ul>
					<p>Please contact Christopher Svanefalk on
						<a href="mailto:christopher.svanefalk@aiesec.net">christopher.svanefalk@aiesec.net</a>
					   for further questions.
					</p>
					<h3>OGX Team Members</h3>
					<p> The Outgoing Exchange (OGX) team of AIESEC Gothenburg is currently looking for members willing
					    to help other students reach their internship aspirations.</p>
					<p><strong>Major responsibilities : </strong></p>
					<ul>
						<li>Selecting and Conducting interviews with applicants for internships</li>
						<li>Support for outgoing interns</li>
						<li>Managing exchange process</li>
						<li>Tracking interns abroad</li>
						<li>Organizing outgoing preparation seminar</li>
					</ul>
					<p><strong>A suitable candidate has the following skills : </strong></p>
					<ul>
						<li>Good communicative and interpersonal skills</li>
						<li>Proactive</li>
						<li>Able to work on own initiative</li>
						<li>Be creative and productive</li>
						<li>Experiences in human resources is desirable</li>
					</ul>
					<p>Please contact Joshua Soundararajan on
						<a href="mailto:joshua.smith8624@aiesec.net">joshua.smith8624@aiesec.net</a>
					   for further questions.
					</p>
					<h3>Sales Representatives</h3>
					<p> We are looking for Sales representatives to join our Incoming Exchange (ICX) / External
					    Relations team. </p>
					<p>The purpose of this role is to effectively use telemarketing skills to sell AIESEC International
					   Internship Program offerings to companies in the Gothenburg Region.</p>
					<p><strong>Major responsibilities : </strong></p>
					<ul>
						<li>Your are responsible for the whole process – from the first contact to a written contract
						    with the company:
						</li>
						<ul>
							<li>Call chosen companies to book meetings (even in branches like IT and Biotech)</li>
							<li>Go to the company meeting and present AIESEC internship program (GIP)</li>
							<li>Have a follow-up meeting and write the contract</li>
							<li>Help company define the needs for internship position</li>
							<li>Together with company write the TN (competencies, skills looked after)</li>
							<li>Document all company contacts in AIESEC tracking system</li>
							<li>Represent AIESEC in different network meetings / events in Gothenburg area</li>
						</ul>
					</ul>
					<p><strong>A suitable candidate has the following skills : </strong></p>
					<ul>
						<li>Basic sales skills including negotiation, influencing</li>
						<li>Good communication skills</li>
						<li>Professional attitude</li>
						<li>Able to work on own initiatives</li>
						<li>Be creative and proactive</li>
						<li>A major in Economics, Marketing or Sales or related subjects would be an advantage, but not
						    essential.
						</li>
					</ul>
					<p>Please contact Andrius Kašeta
						<a href="mailto:andrius.kaseta@aiesec.net">andrius.kaseta@aiesec.net</a>
					   for further questions.
					</p>
				</div>
			</div>
		</div>
	</div>

	</div>
	<!-- end.container -->

	</div> <!-- end.section -->


{% endblock %}
