{% extends "::base.html.twig" %}

{% block title %}AIESECMainBundle:About:aboutus{% endblock %}

{% block body %}
	<div id="featured-banner" class="section about-banner">
		<div class="container">
			<p class="title"></p>
			<!--
			<p class="sub-title col-md-12">Creating young leaders since 1948!</p>
			-->
		</div>
	</div> <!-- end.section -->
	<div class="row block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				What is
				<span>AIESEC?</span>
			</p>
			<div class="main-text">
				<p>AIESEC is the world's largest student-driven organization, with over 86,000 active members in more
				   than 1,800 universities, in 113 countries and territories. Its members are interested in world
				   issues, leadership and management skills and to gain global professional experience. AIESEC does not
				   discriminate on the basis of race, colour, gender, sexual orientation, creed, religion, national,
				   ethnic or social origin.</p>
				<p>You can find out much more about AIESEC itself at the organisations international webpage:
					<a href="www.aiesec.org" target="_blank">www.aiesec.org</a>
				   . Here, we just want to tell you a little bit about our local committee - AIESEC Gothenburg.
				</p>
			</div>
		</div>
	</div>
	<div class="row block colored-block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				Who are
				<span>we?</span>
			</p>
			<div class="main-text">
				<p>AIESEC Gothenburg has a long and rich history - it was one of the first Local Committees ever
				   founded, and has throughout its history been very influential. It is based at the
					<a href="http://www.handels.gu.se/english/?languageId=100001&amp;contentId=-1&amp;disableRedirect=true&amp;returnUrl=http%3A%2F%2Fwww.handels.gu.se%2F"
					   target="_blank">School of Business, Economics and Law
					</a>
				   at the University of Gothenburg, where it holds meetings each week.
				</p>
				<p>Currently, AIESEC Gothenburg has about 20 active members forming a vibrant community. We actively
				   engage with student events throughout the years, and aim to always have a presence at fairs and
				   events to offer our services to our fellow students. We believe that AIESEC can enrich the life of
				   everyone, no matter what they study, and we are passionate about promoting it.</p>
			</div>
		</div>
	</div>
{% endblock %}
