{% extends "::base.html.twig" %}

{% block title %}AIESECMainBundle:Internship:faq{% endblock %}

{% block body %}

    <div class="section">

        <div class="container">

            <div class="page-title">
                <h2 class="text-center">Frequently Asked Questions</h2>
            </div>

            <section>

                <article>
                    <p><strong>1. How do I apply for an internship through AIESEC´s Global Internship Program?</strong>
                    </p>
                </article>
                <article>
                    <p>For information how to apply, please use our form: <a href="{{ path('internship_apply') }}">
                            Apply for Internship</a>
                    </p>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>2. I am an international/exchange/free-moover student, can I still apply?</strong></p>
                </article>
                <article>
                    <p>Yes, all students studying at any institute of higher education in Gothenburg are invited to
                       apply. </p>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>3. I am not a student, can I still apply?</strong></p>
                </article>
                <article>
                    <p>Yes, you can apply for an internship for up to 2 years after obtaining your degree, as long as
                       you are no older than 30 years old.</p>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>4. Do I have to be a member of AIESEC Gothenburg to apply?</strong></p>
                </article>
                <article>
                    <p>No, as long are you are enrolled in a higher education institution in Gothenburg you are welcome
                       to apply. We do, however, encourage you to get involved in AIESEC Membership activities. </p>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>5. What are the costs associated with taking an AIESEC internship?</strong></p>
                </article>
                <article>
                    <p>The fee for Global Internship Program is 5000 SEK and Volunteer Abroad Program is 3500 SEK and.
                       Included in this fee are all administrative details required for the successful delivery of an
                       internship abroad.</p>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>6. What types of internships are there?</strong></p>
                </article>
                <article>
                    <p>There are two types of internships:</p>
                    <ul>
                        <li><strong>Global Internship Program</strong> : internships related to administration, finance,
                                                                       accounting, marketing, project management and HR.
                                                                       Development in web, software, networks, and
                                                                       databases, plus some engineering.
                        </li>
                        <li><strong>Global Community Development Program </strong>Global Community Development Program :
                                                                                  internships and volunteering
                                                                                  opportunities related to promotion,
                                                                                  curriculum development, teaching, and
                                                                                  counseling in the education sector.
                                                                                  Usually with NGOs, internships relate
                                                                                  to wide variety of issues in community
                                                                                  development.
                        </li>
                    </ul>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>7. What is the duration of an internship?</strong></p>
                </article>
                <article>
                    <p>The duration of an internship varies between 1,5 months to 1,5 years. </p>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>8. When can I apply for an internship?</strong></p>
                </article>
                <article>
                    <p>Internships are available during the whole year, and you decide when and for how long you would
                       like to intern. It is recommended to apply at least 6 months prior to your travel abroad. </p>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>9. Are all internships paid?</strong></p>
                </article>
                <article>
                    <p>No, only internships through the Global Internship Program are paid. For the Volunteer Abroad
                       Program, housing and food are normally provided. </p>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>10. Can I apply for an internship in my country of residence/citizenship?</strong></p>
                </article>
                <article>
                    <p>No, you can only apply for an internship where you are not a citizen and where you do not
                       reside. </p>
                </article>

            </section>

            <section>

                <article>
                    <p><strong>11. Can I apply for an internship more than one time?</strong></p>
                </article>
                <article>
                    <p>Yes, as long as the added length of your internships does not extend 36 months abroad. </p>
                </article>

            </section>

        </div>
        <!-- end.container -->

    </div> <!-- end.section -->

{% endblock %}
