{% extends "::base.html.twig" %}

{% block title %}

	Internships

{% endblock %}

{% block body %}

	<div id="featured-banner" class="section gcdp-banner">
		<div class="container">
			<p class="title">Make a lasting impact</p>
			<!--
			<p class="sub-title col-md-12">Creating young leaders since 1948!</p>
			-->
		</div>
	</div> <!-- end.section -->

	<div class="row block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				What is it
				<span>about?</span>
			</p>
			<div class="main-text">
				<p>International volunteer positions are the most intense learning experience we offer and link together
				   our global network. This programme encompasses cross-cultural positive impact through working abroad
				   for social and community development projects that lead to self development and skill enhancement for
				   the member. The program offers students the chance to travel abroad and experience cultures
				   first-hand, while giving back through working on social projects together with our partner
				   organisations. It runs for 6 to 8 weeks and is a challenging, inspiring and incredibly rewarding
				   experience!</p>
			</div>
		</div>
	</div>
	<div class="row block colored-block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				What can you
				<span>do?</span>
			</p>
			<div class="main-text">
				<p>There are dozens of projects available across a wide range of issues. Some examples are: <br>
				<ul>
					<br>
					<li>ECONOMIC GROWTH - address relevant sectors of the economy in order to improve economical health
					    of the entities in those areas and enhance organizational and community growth, by working in
					    organizational development, entrepreneurship, social business and microfinance.
					</li>
					<br>
					<li>ENVIRONMENT - the work related to environmental education, capacity building and local
					    implementation are ways of impact that can address and tackle this issue, focusing around topics
					    such as pollution, flora and fauna protection, energy, climate change and waste management.
					</li>
					<br>
					<li>
						HUMAN RIGHTS - the projects within this issue will address ensuring common standard of living by
						providing education to raise awareness of legal, social and ethical principles among the
						underprivileged communities. They deal with children rights, women rights, rights of people with
						disabilities or tribes and minorities’ rights.
					</li>
					<br>
					<li>HEALTH - this issue focus on overcoming major health threats by offering treatment, generating
					    awareness on healthy ways of living and highlighting the dangers that lead to health hazards
					    with ways to prevent them.
					</li>
					<br>
					<li>LITERACY - The objective of this issue is to provide access to basic education for
					    underprivileged individuals and communities to overcome illiteracy, in the form of language,
					    information technology, financial management and other topics.
					</li>
					<br>
				</ul>
				The world is yours to impact! To apply, use our
				<a href="{{ path('internship_apply') }}">application form</a>
				!</p>
			</div>
		</div>
	</div>
	<div class="row block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				Where can I
				<span>go?</span>
			</p>
			<div class="main-text">
				<p>Wherever there is an AIESEC committee, there is almost always at least one GCDP position available.
				   There are thousands of positions available in nearly all 113 countries where AIESEC is present. The
				   entire world is yours to explore and impact!</p>
			</div>
		</div>
	</div>
	<div class="row block colored-block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				Terms and Conditions
				<span></span>
			</p>
			<div class="main-text">
				<p>GCDP candidates must meet the following conditions: <br>
				<ul>
					<br>
					<li>
						Participant must be from 18 to 30 years old;
					</li>
					<br>
					<li>
						Student or a recent graduate (within 2 years);
					</li>
					<br>
					<li>
						Student in Sweden or Swedish studying abroad;
					</li>
					<br>
					<li>
						Interested in global issues and making a positive impact;
					</li>
					<br>
					<li>
						Good English speaker (other languages can be counted as a benefit);
					</li>
					<br>
					<li>
						Flexible, communicative, adaptive to new environment.
					</li>
					<br>
				</ul>
				The program fee for Global Citizen is 3500 SEK. This fee is aimed to maintain Global Citizen program
				running and cover administrative costs . The payment can be done in 2 installments (2500 SEK - when you
				sign the contract and 1000 SEK - when you are matched to an internship).                </p>
			</div>
		</div>
	</div>
{% endblock %}


