{% extends "::base.html.twig" %}

{% block title %}

	Internships

{% endblock %}

{% block body %}

	<div id="featured-banner" class="section gip-banner">
		<div class="container">
			<p class="title">Step out into the professional life</p>
			<!--
			<p class="sub-title col-md-12">Creating young leaders since 1948!</p>
			-->
		</div>
	</div> <!-- end.section -->

	<div class="row block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				What is it
				<span>about?</span>
			</p>
			<div class="main-text">
				<p>This programme offers internships that contribute to the professional development of a member and
				   assist them to specialise in a certain field of work. They are normally long-term in nature and
				   involve working on diverse business projects and organizations. </p>
			</div>
		</div>
	</div>
	<div class="row block colored-block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				What can you
				<span>do?</span>
			</p>
			<div class="main-text">
				<p>An AIESEC Global Internship is the perfect stepping stone between the lecture hall and the
				   professional life. Not only does it offer you an intensive experience as a trainee in one of our
				   global partner companies, but you will at the same time get an invaluable international experience as
				   you work in a foreign environment. <br><br>AIESEC currently offers over 6000 paid internship position
				   worldwide. Among our partners are Ericsson, Facebook. DHL, PWC, Electrolux, and many more. An
				   internship typically lasts between 6 to 18 months, and must be situated in another country than the
				   one you are currently living in, or the one you were born in. Primarily, our internships are targeted
				   at students of IT (software development, web development, system administration etc) and Economics
				   (management, sales, human resources, etc). <br><br>During your internship, you will receive a salary
				   that will at minimum cover your living expenses. This salary varies between countries, but is never
				   below the minimum wage as mandated by local laws. AIESEC is responsible for taking care of you
				   before, during and after your internship. Among other things, we provide you with extensive support
				   with regard to visa and work permit issues, CV writing, applications, local orientation, friendship,
				   community, and more. We are here to make your internship experience an awesome one, and you will find
				   that we will be there no matter where you need us. </p>
			</div>
		</div>
	</div>
	<div class="row block">
		<div class="col-md-6 col-md-offset-3">
			<p id="home-sub-quote" class="col-md-12 text-center main-quote">
				Terms and Conditions
				<span></span>
			</p>
			<div class="main-text">
				<p>AIESEC internships are available to all current and former students filling the following minimum
				   criteria: <br>
				<ul>
					<br>
					<li>
						Aged 18 to 30 years.
					</li>
					<br>
					<li>
						Ongoing or finished Bachelors degree within Economics or IT.
					</li>
					<br>
					<li>
						Good skills in spoken and written english.
					</li>
					<br>
					<li>
						Preferred: applicable professional experience (minimum 1 year).
					</li>
					<br>
					<li>
						Good English speaker (other languages can be counted as a benefit);
					</li>
					<br>
				</ul>
				The fee for a global internship is 5000 SEK. The fee is used to cover our own expenses, as well as to
				extend the internship program so that we can offer more positions to more students. <br><br> The fee is
				payable in 2 installments of 2500 SEK each. the first one is paid after you sign the Internship
				Agreement, and the second one is signed after you successfully get accepted for an internship. The fee
				does not cover travel expenses. The time from registration to departure is usually 2-3 months. In the
				highly unlikely event that you do not get matched to an internship within 12 months, the entire fee,
				minus a 500 SEK administrative cost, will be refunded to you.                    </p>
			</div>
		</div>
	</div>
	</div>

{% endblock %}


