{% extends '::base.html.twig' %}

{% block body %}

	<div id="featured-banner" class="section main-banner">
		<div class="container">
			<p class="title">Part of the worlds largest student family</p>
			<!--
			<p class="sub-title col-md-12">Creating young leaders since 1948!</p>
			-->
		</div>
	</div> <!-- end.section -->

	<div id="section-home" class="section">
		<div class="container">
			<div id="home-info" class="row">
				<p id="home-sub-quote" class="col-md-12 text-center main-quote">
					We have developed young professionals
					<span>for more than 65 Years</span>
				</p>
				<div class="main-text">
					<div id="" class="col-md-6">
						<p class="main-text">AIESEC is the worlds largest student-run organisation, with over 86,000
						                     members in more than 2100 universities across 113 countries. For more than
						                     65 years, our members have enriched themselves, their peers and their
						                     communities through our mutual work together. Today, we are one of the
						                     greatest platforms available for students to explore, enhance and develop
						                     their skills and abilities. At the same time, they gain a priceless
						                     international experience through our many conferences, and our extensive
						                     internship program.</p>
					</div>
					<p class="col-md-6 main-text">We are, of course, in Gothenburg as well, and Local Committee (LC)
					                           Gothenburg are more than happy to invite you to see what we can do for
					                           you! Whether you are a student or an organisation or company
					                           representative, AIESEC has much to offer you. Please follow the links
					                           below to get started!</p>
				</div>
			</div>
		</div>
		<!-- end.container -->
	</div> <!-- end.section -->

{% endblock %}
